# Operating System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Node.js
node_modules/

# Environment Variables
.env

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes Secrets
*.secret.yaml